<footer class="bottom mt-5 text-center py-2">
    <!-- <div class="bg-dark">
  
    </div> -->
    <p class="text-dark p-3 m-3 small">Powered By Helene Solutions &copy; <span id="year"></span></p>
</footer>