<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
        content="367667795258-7unbip6v5ch3s1iuri7khim2jkn95752.apps.googleusercontent.com">
    <link rel="icon" sizes="192x192" href="https://helene.ng/ress/img/cropped-Helene-2.png">
    <meta name="theme-color" content="#1e73be">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        type="text/css">
    <link rel="stylesheet" href="ress/css/style.css">
    <link rel="stylesheet" href="ress/css/responsive.css">
    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.4/dist/JsBarcode.all.min.js"></script>
    <title>Invoice</title>
</head>

<body>

    <div class="d-flex bg-white">
        <%- include ('sidenav.ejs') %>
            <div class="main_2"  style="border: solid red; height: 100vh;">
                    <div class="d-flex justify-content-center align-self-center ">
                        <div class="">
                            <h5>No Invoice Record</h5>
                        </div>
                    </div>
            </div>
    </div>
    <button type="button" class="bg-primary shadow-lg text-white btn btn-sm rounded-pill"
        style="width: 4rem; height:4rem; left: 92%; top: 85%; position: absolute;">+</button>

</body>

</html>