<div class="main_1 bg-primary text-center">

    <a href="/dashboard"><img src="https://helene.ng/ress/img/cropped-Helene-2.png" width="40px"
            class="shadow m-2"></a>
    <h6 class="p-3 text-center text-white">Helene Business</h6>

    <hr class="text-white">
    <section>
        <ul class="list-group list-group m-3">
            <a href="dashboard">
                <li class="list py-2 px-2 small"><span class="menu_icon"><i class="fab fa-squarespace"></i></span>
                    Dashboard </li>
            </a><br>
            <a href="sales">
                <li class="list py-2 px-2 small"><span class="menu_icon"><i class="fas fa-coins"></i></span> Sales
                </li>
            </a><br>
            <a href="stocks">
                <li class="list py-2 px-2 small"><span class="menu_icon"><i class="fas fa-layer-group"></i></span>
                    Stock
                </li>
            </a><br>
            <a href="debts">
                <li class="list py-2 px-2 small"><span class="menu_icon"><i class="fas fa-pen"></i></span> Debts

                </li>
            </a><br>
            <a href="contacts">
                <li class="list py-2 px-2 small"><span class="menu_icon"><i class="far fa-address-book"></i></span>
                    Contacts </li>
            </a><br>
        </ul>
    </section>
</div>
