<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id"
      content="367667795258-7unbip6v5ch3s1iuri7khim2jkn95752.apps.googleusercontent.com">
  <link rel="icon" sizes="192x192" href="https://helene.ng/ress/img/cropped-Helene-2.png">
  <meta name="theme-color" content="#1e73be">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Welcome</title>
</head>

<body>
  <!-- 
  <div class="d-md-sm">
    <div class="bg-blue">
      <div class="white">
        <img src="ress/img/logo.jpeg" alt="" srcset="" width="30%">
      </div>
      <div class="center text-col">
        <p>Africa's #1 Business</p>
        <p class="manage"> Management Tool</p>
        <div class="google-play">
          <a href="#"><img src="ress/img/play store logo.png" alt="" srcset="" class="responsive-img" width="50%"></a>
        </div>
      </div>
    </div>
  </div>

  
  <div class="profile-form">
    <div class="push-center">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="row white">
            <div class="col s12 m6 hel-img">
            </div>
            <div class="col s12 m6 para push-center">
              <div class="p20 sm-center d-none">
                <img src="https://helene.ng/wp-content/uploads/2021/03/Helene.png" width="40px">
                <h5> <b>Helene Business </b></h5>
                <h6 class="small"> Efficiency and Productivity is what we offer.</h6>
                <div class="row d-none form">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate ">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Last Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="email" type="email" class="validate" value="<%= user.email %>">
                        <label for="email ">Email</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="phone" type="tel" class="validate" value="<%= user.number %>">
                        <label for="phone">Phone Number</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="businessname" type="text" class="validate">
                        <label for="businessname">Business Name</label>
                      </div>
                      <div class="input-field col s6">
                        <input id="businessaddress" type="text" class="validate">
                        <label for="businessaddress">Business Address</label>
                      </div>
                      <div class="input-field col s12">
                        <select>
                          <option value="" disabled selected>Business Category</option>
                          <option>Option 1</option>
                          <option>Option 2</option>
                          <option>Option 3</option>
                        </select>
                      </div>
                    </div>
                    <div class="">
                      <div class="input-field col s7" style="margin: 0 !important;">
                          <label>
                          <input type="checkbox" class="filled-in card-panel orange lighten-2" />
                          <span style="font-size: 12px;">Terms and Conditions</span>
                        </label>
                      </div>
                      <a href="/dashboard"class="waves-effect waves-light btn " style="background-color: #14A0DD; width: 30%;"> Register
                        <i class="fas fa-check-circle"></i></a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div> -->

<div class="d-flex">
  <main id="flex-center-max" class="p-3 py-3 px-3">
      <div class="p-3 py-3 px-3" id="phoneform">
          <div class="container" id="errorDiv"></div>
          <div class="card shadow">
              <div class="container text-center p-2">
                  <img src="https://helene.ng/ress/img/cropped-Helene-2.png" width="50px" class="shadow"> 
                  <h6 class="m-3"><b>Let's get you started</b></h6>  
                  <hr>       
              </div>
              
              <form id="signin" class="form-group p-3 py-3 px-3">
                  <!-- <h5 class="small">Enter your Email</h5> -->
                  <input type="text" name="login" class="form-control" placeholder="Enter your name" value="<%= user.name %>" />
                  <br>
                  <input type="text" name="login" class="form-control" placeholder="Enter your Business name" />
                  <br>
                  <input type="email" name="login" class="form-control" placeholder="Enter your Business email" value="<%= user.email %>"/>
                  <br>
                  <select class="form-select w-100 py-2" aria-label="select example">
                    <option selected>Business Category</option>
                    <option value="3">Aluminuim Supplier</option>
                    <option value="1">Arts & Entertainment</option>
                    <option value="1">Cosmetics</option>
                    <option value="1">Clothing</option>
                    <option value="2">Electronics</option>
                    <option value="1">Fashion</option>
                    <option value="1">Farmer</option>
                    <option value="1">Health & Medical</option>
                    <option value="1">Hotels & Travel</option>
                    <option value="1">Iron & Steel</option>
                    <option value="1">Logistics</option>
                    <option value="1">Mechanic</option>
                    <option value="1">Service Business</option>
                    <option value="2">Tech</option>
                    <option value="2">Transportation</option>
                    <option value="2">Trader</option>
                    <option value="2">Electronics</option>
                    <option value="2">Restaurants</option>
                    <option value="2">Provisions</option>
                    <option value="2">Others</option>
                </select>
                  <!-- <input type="text" name="login" class="form-control" placeholder="Enter your Email" />
                  <br>
                  <input type="password" name="password" class="form-control" placeholder="Enter your Password" /> -->
                  <a href="/dashboard"><button type="button" class="btn btn-dark mt-3 w-100">Proceed</button></a>
              </form>
          </div>
      </div>
  </main>
</div>


  <script src="ress/js/jquery.min.js"></script>
  <script src="ress/js/materialize.min.js"></script>
  <script src="ress/js/script.js"></script>
</body>

</html>