body{

    background-color:whitesmoke;
}

a{

    color: white;
}

a:hover{
    text-decoration: none;
}
#flex-center-max{
    display: flex;
    margin:auto 0;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
}

#flex-center-70{
    display: flex;
    margin:auto 0;
    justify-content: center;
    width: 100%;
    height: 70vh;
    align-items: center;
}

@media(max-width:1030px){
    #flex-center-max{
        display: none;
    }
}


header{

    /* border-bottom: solid black 2px; */

}

main{
    display: flex;
}

.main_1{
    width: 13vw;
    height:100vh;
}

.main_2{
    width: 90vw;
    height: 100vh;
    /* border-left:solid 1px lightgray; */
    /* border-right:solid 1px lightgray;  */
}

.offcanvas-body{
    overflow-y: scroll;
}

.offcanvas-body::-webkit-scrollbar{
    display: none;
}

.main_3{
    text-align: center;
    padding-top: 1%;
    width: 100%;
}

.icons{
    display: inline-flex;
}
aside{
    width: 20%;
}

img{
    border-radius: 360px;
    cursor:pointer;
}

header{
    display: flex;

}

#calsoff{
    z-index: 0;
}

#d-1{
    flex: 3;
}

.profile{
    margin-top:4%;
    width: 20%;
    height: 30%;
}

.fa{
    cursor:pointer;
    border-radius: 360px;
}

.fa:hover{
    background-color: rgba(238, 238, 238, 0.507);
}


.offcanvas-header>span{
    margin-top:5%;
    margin-left: 3%;
}

.list{
    cursor: pointer;
    list-style:none;
    text-align: justify;
    margin-left: 20px;
}

.list:hover{
    background-color: lightgray;
    color:black
}

.menu_icon{
    padding: 15px;
}



/* ################################### */

/* Montserrat-fonts */
@font-face{
    font-family:Montserrat-Regular ;
    src: url("../fonts/MontserratFonts/Montserrat-Regular.ttf");
}
@font-face{
    font-family:Montserrat-Bold ;
    src: url("../fonts/MontserratFonts/Montserrat-Bold.ttf");
}
@font-face{
    font-family:Montserrat-Italic ;
    src: url("../fonts/MontserratFonts/Montserrat-Italic.ttf");
}
@font-face{
    font-family:Montserrat-Light ;
    src: url("../fonts/MontserratFonts/Montserrat-Light.ttf");
}
@font-face{
    font-family:Montserrat-BoldItalic ;
    src: url("../fonts/MontserratFonts/Montserrat-BoldItalic.ttf");
}





/* second-section */
section#invent-form{
    font-family: Montserrat-Bold;

}

section#invent-form .invent{
 padding: 10px;
 margin: 10px;
}


section#invent-form .invent  input{
    /* min-width: 300px !important; */
    outline-color: #bbbbbb;
    border:1px solid  #bbbbbb;
    color:    #0a043c;;
    font-family: Montserrat-BoldItalic;
}

section#invent-form .invent input ::placeholder{
    color: #0000;
}

section#invent-form .invent > div{
    margin-bottom: 20px;
}

.d-flexforforms{
    display: flex;
    justify-content: space-around;
} 
.d-flex-between{
    display: flex;
    justify-content: space-between;
}

.text-center{
    text-align: center;
}

/* button{
    padding: 10px 30px;
    background-color:#0a043c;
    border: none;
    color: #bbbbbb;
    font-weight: bolder;
} */

/* third-section table */
section#invent-table .table{
    display: flex;
    justify-content: center;
    color: black;
    flex-direction: column; 
}


.clear, .print{
    padding: 10px 20px;
    font-size: 11px;
    cursor: pointer;
    color: black;
}

.clear:hover{
    background-color: red;
}

.print{
    background-color: #bbbbbb;
    color: #0a043c;
    cursor: pointer;
}
.font-weight-bold{
    font-weight: 900;
}


